<div class="row">
 <div class="col-md-12">
  <form role="form">
   <div class="form-group">
    <input type="busStopName" name="stop_id" class="form-control" id="busStopName" placeholder="Enter a bus stop name">
    <button type="submit" class="btn btn-primary">Go</button>
   </div>
  </form>
 </div>
</div>

<% if @result %>

<div class="row">
 <div class="col-md-6 col-md-offset-3">

<table class="table bus-table">
 <thead>
  <tr>
   <th class="col-md-2">Route</th>
   <th class="col-md-2">Registration</th>
   <th class="col-md-6">Destination</th>
   <th class="col-md-2">Due</th>
  </tr>
 </thead>
 <tbody>

<% @result.each do |r| %>
  <tr>
  <% if r.is_a? TransportHacker::Tfl::CountdownData::PredictionArray %>
   <td><%= r.line_name %></td>
   <td><%= r.registration_number %></td>
   <td><%= r.destination_text %></td>
   <td><%= (Time.at(r.estimated_time / 1000) - Time.now).to_i / 60 %> min</td>
  <% else %>
  <% end %>
  </tr>
<% end %>

 </tbody>
</table>

<% end %>

 </div>
</div>

<% content_for :script do %>

  var element = $('#busStopName');

  var busStopLocationSource = new Bloodhound({
    name: 'bus_stops',
    remote: 'lookup.json?q=%QUERY',
    datumTokenizer: function(d) {
      return Bloodhound.tokenizers.whitespace(d.val)
    },
    queryTokenizer: Bloodhound.tokenizers.whitespace
  })

  busStopLocationSource.initialize()

  element.typeahead({
    minLength: 3,
    highlight: true
  }, {
    name: 'bus_stop',
    source: busStopLocationSource.ttAdapter(),
    templates: {
      empty: Handlebars.compile('<p>Nothing matched</p>'),
      suggestion: Handlebars.compile('<p>{{descr}}</p>')
    }
  })

<% end %>